@font-face{
	font-family: 'Ubuntu';
	src: url('Extras/Ubuntu.ttf') format('truetype');
}

@font-face{
	font-family: 'anon';
	src: url('Extras/anon.ttf') format('truetype');
}

*{
	font-family: 'Ubuntu';
}

body {
	background-color: #1E1F26;
	background-attachment: fixed;
}

img#teampic {
    border-radius: 5px;
	width: 8em;
	padding-right: 1em;
	float: left;
}

img#intpic {
	width: 25em;
	padding: 1em;
}

#parent {
	display: flex;
	padding: 0 0.8em 1em 0.8em;
}

.bio {
	padding: 2em;
}

.video {
	float: left;
	padding-right: 0.5em;
}

.white_font {
	font-family: 'Ubuntu';
	color: white;
}

.title {
	font-family: 'anon';
	padding-bottom: .2em;
	font-size: 5em;
	text-align: center;
}

.small_title {
	padding-top: .2em;
	font-size: 2.4em;
	text-align: center;
}

.info {
	padding-bottom: 1em;
	font-size: 1.3em;
}

.about{
	display: table;
	width: 100%;
}

.post {
    border-radius: 5px;
	border: solid #172544;
	font-size: 1.3em;
	text-align: center;
}

.box-standards{
	background-color: #283655;
    color: white;
    padding: .5em .5em;
    flex: 1;
}

.post_bar {
    border-radius: 5px;
    border-right: solid #777777;
	background-color: #D0E1F9;
	width: 6em;
}

.vertical_text {
    text-align: right;
    padding: 0.2em 0.2em 0.2em 0.2em;
	word-wrap: break-word;
	font-size: 1.5em;
    transform: rotate(-90deg);
    transform-origin: 66% 66%;
}

.team_member_pictures{
    padding: 0.2em 0 0.2em 0.2em;
    word-wrap: break-word;
    font-size: 1em;
}

.contact_name{
	font-size: 1.3em;
}

.contact_title{
	color: rgb(150, 150, 150);
}

.side-by-side{
	display: inline-block;
}

.post_link {
	padding: 0.2em 2em;
	border: solid rgb(15, 15, 15);
}

a:link {
	color: white;
	text-decoration: none
}

a:visited {
	color: white;
}

a:active {
	color: rgba(31, 31, 31, 0.8);
}

.horizontal_menu {
	font-size: 2em;
	background-color: #283655;
	border: solid #172544;
}

.container {
	display: flex;
	flex-direction: row;
}

ul.horizontal_menu {
	list-style: none;
}

ul.horizontal_menu li {
	flex-basis: 100%;
	text-align: center;
}

nav#menu {
	background-color: #1E1F26;
	background-attachment: fixed;
}

nav#menu.scrolled {
	position: fixed;
	top: -27;
	width: 99%;
}